

services:

#  api-gateway:
  app:
    #    image:  # Use pre-built image, comment out build command if you want to use this line
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "4004:4004" # host:docker_container -> map docker_container port to localhost port
    environment:
#      AUTH_SERVICE_URL: http://auth-service-app:4005
      AUTH_SERVICE_URL: http://auth-service:4005
      PATIENT_SERVICE_URL: http://patient-service:4000
#    Docker Compose’s depends_on expects the service names from your other Compose file, not container names.
#    depends_on:
#      - patient-service
#      - auth-service-app
    networks:
      - internal

networks:
  internal:
#    driver: bridge
#     external: true tells Docker: "Don’t create this network — use an existing one named shared-internal."
    external: true
    name: shared-internal




